@model IEnumerable<ReferVille.Models.Referral>
@using ReferVille.Helpers
@using ReferVille.ViewModels


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Candidates</div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Candidate.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Skill.SkillName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resume.ResumeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CoverLetter.CoverLetterName)
                    </th>
                    <th>Refer</th>
                    <th>Options</th>
                </tr>
            </thead>
            @if (Model.Count() == 0)
            {
                <tr><td colspan="5">No Referrals were found.</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @*@Html.ActionLink(item.Candidate.UserName, "CandidateDetails", new { candidateId = item.CandidateId})*@
                                @Html.DisplayFor(modelItem => item.Candidate.Email)
                            </td>
                            <td>
                                @*@Html.ActionLink(item.Candidate.UserName, "CandidateDetails", new { candidateId = item.CandidateId})*@
                                @Html.DisplayFor(modelItem => item.Skill.SkillName)
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Resume", new { resumeId = @item.ResumeId})">@Html.DisplayFor(modelItem => item.Resume.ResumeName)</a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "CoverLetter", new { coverLetterId = @item.CoverLetterId})">@Html.DisplayFor(modelItem => item.CoverLetter.CoverLetterName)</a>
                            </td>
                            <td>
                                <a href="@Url.Action("ReferralConfirmation", "Referrer", new { referralId = @item.ReferralId })" class="btn btn-primary btn-xs">Refer Me</a>
                            </td>
                            @*@Html.Partial("_TableButtonsPartial", new SmallButtonViewModel
                             {
                                  CandidateId = item.CandidateId
                             })*@
                            <td class="options alignRight">
                                <a class="documentEdit btn btn-xxs btn-line btn-grey btn-square tooltipster tooltipstered" data-tooltipster="Edit" href="#"><i class="fa fa-pencil"></i></a>
                                <a class="documentTxt btn btn-xxs btn-line btn-grey btn-square tooltipster tooltipstered" data-tooltipster="Download .txt version" href="#"><i class="fa fa-file-text-o"></i></a>
                                <a class="documentPdf btn btn-xxs btn-line btn-grey btn-square tooltipster tooltipstered" data-tooltipster="Download PDF " data-id="c5203511-02f7-44f7-90d0-8fcde673d1db"><i class="fa fa-cloud-download"></i></a>
                                <a class="documentCopy btn btn-xxs btn-line btn-grey btn-square tooltipster tooltipstered" data-tooltipster="Copy" href="#" data-name="My resume 3" data-ajax-document-id="c5203511-02f7-44f7-90d0-8fcde673d1db" data-modal-title="Copy Document" data-modal-msg="Are you sure you want to copy this document?"><i class="fa fa-copy"></i></a>
                                <a class="documentDelete btn btn-xxs btn-line btn-grey btn-square tooltipster tooltipstered" data-tooltipster="Delete" href="#" data-name="My resume 3" data-ajax-document-id="c5203511-02f7-44f7-90d0-8fcde673d1db" data-modal-title="Remove Document" data-modal-msg="Are you sure to delete this document?"><i class="fa fa-remove"></i></a>

                            </td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
</div>